@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";


body{
  font-family: "Alexandria", serif;
  background-color: #f8f9fb;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #123b703a;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
